@import "../../variables.scss";

#login {
  color: black;
  font-family: $font-saira;
  font-size: 20px;
  .titleModal {
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
  }
  input {
    outline: none;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid $color-honey;
    padding: 5px 0;
  }
  form {
    display: flex;
    flex-direction: column;
    div {
      color: $color-terra;
      margin-bottom: 5px;
      font-size: 16px;
    }
    label {
      margin: 10px 0;
      color: $color-stone;
      position: relative;
    }
    input[type="file"] {
      display: none;
    }
    .passwordInput {
      margin-bottom: 15px;
    }
    .iconPassword,
    .iconPasswordSignup {
      position: absolute;
      top: 35px;
      right: 10px;
      color: $color-honey;
      font-size: 24px;
      cursor: pointer;
    }
    .iconPasswordSignup {
      top: 290px;
      right: 25px;
    }

    .imgAvatar {
      border: 1px solid $color-honey;
      border-radius: 10px;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      margin: 15px 0;
      display: flex;
      justify-content: center;
    }
  }
  p {
    margin-top: 15px;
    color: $color-orange;
    cursor: pointer;
  }
}

.imagePreview {
  display: flex;
  justify-content: center;
  img {
    width: 150px;
    height: 200px;
    object-fit: contain;
  }
}
