/* Variables */
@import "../../variables.scss";

/* scroll navigation */
.scrollToUp {
  position: fixed;
  bottom: 50px;
  right: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  font-size: 40px;

  .scrollImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }
  .iconScroll {
    margin-right: 35px;
  }
}

/* Home/Characters search */
.inputSearch {
  display: flex;
  justify-content: center;
  .findHero {
    position: relative;
    .search {
      padding: 5px 0 5px 40px;
      border-radius: 15px;
      width: 270px;
      outline: none;
      font-family: $font-saira;
      font-size: 20px;
    }
    .iconSearch {
      color: $color-orange;
      font-size: 20px;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
}

/* Cards heroes & comics */
.containerCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .validated {
    text-align: center;
    font-family: $font-saira;
    font-size: 24px;
    color: navy;
  }
}
