/* Variables */
@import "../../variables.scss";

/* Comics search */

.comicsSearch {
  display: flex;
  justify-content: center;

  .findComics {
    position: relative;
    input {
      padding: 5px 0 5px 40px;
      width: 270px;
      outline: none;
      font-family: $font-saira;
      font-size: 20px;
      border-radius: 15px;
    }
    .iconSearch {
      color: $color-orange;
      font-size: 20px;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
}

/* Cards heroes & comics */
.containerCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .validated {
    text-align: center;
    font-family: $font-saira;
    font-size: 24px;
    color: navy;
  }
}
