/* Variables */
@import "../../variables.scss";

/* Comics search */

.comicsSearch {
  display: flex;
  justify-content: center;

  .findComics {
    position: relative;
    input {
      padding: 5px 0 5px 40px;
      width: 270px;
      outline: none;
      font-family: $font-saira;
      font-size: 20px;
      border-radius: 15px;
    }
    .iconSearch {
      color: $color-orange;
      font-size: 20px;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
}

/* Paging */
.paging {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-saira;
  font-size: 20px;
  select {
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
  }
  .pagingNum {
    margin-top: 20px;
    max-width: 400px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    border-radius: 25px;
    .num {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      margin-right: 5px;
      flex-shrink: 0;
      background: linear-gradient(45deg, $color-yellow, $color-honey);
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    a {
      color: $color-terra;
      text-decoration: none;
    }
  }
}

/* Cards heroes & comics */
.containerCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .validated {
    text-align: center;
    font-family: $font-saira;
    font-size: 24px;
    color: navy;
  }
}
