/* Variables */
$color-red-marvel: #ed171e;
$color-terra: #d24136;
$color-honey: #eb8a3e;
$color-biscotti: #ebb582;
$color-stone: #785a46;
$color-orange: #eb8a44;
$color-yellow: #f9dc24;
$font-caveat: "Caveat";
$font-saira: "Saira";
